{% include 'recipes/partials/head.html' %}

<body>
    {% include 'recipes/partials/header.html' %}
    {% include 'recipes/partials/search-bar.html' %}

    <main class="main-content-container">
        <div class="main-content container main-content-list">
            <div class="recipe recipe-list-item">
                <div class="recipe-cover">
                    <img src="https://via.placeholder.com/1080x720/269fe6/000000" alt="temporario">
                    <h1>olha</h1>
                </div>
            </div>

        </div>
    </main>
</body>

</html>